/* Hello World CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

body {
  background: white;
  font-size: 16px;
  height: 100vh; /* trick to make the "page" the full height */
}


/* minmax funcation used for basic mobile responsive layout */
#hello-world-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.1rem;
    height: 100vh;
}

p {
    font-size: 2.75em;
    color: #black;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#angry-face {
    color: #990099;
    font-size: 10em;
}

.row {}

.col-sm-6 {
    height: 100vh;
}

#hello-world-column1 {
    background-image: url("images/cultist-hand.jpeg");
    background-size: cover;
}

#hello-world-column2 {
    background-image: url("images/cult-hands.jpeg");
    background-size: cover;
}
h1:hover {
  background-color: yellow;
}
/* #iphone {
    border-radius: 10px;
    border: 5px solid red;
}
this is the border the the image "iphone"
*/
/* #planet-hand {
  border-radius: 20px;
  border: 10px dashed blue;
}
this is the border the the image "planet-hand"
*/

/* #orbit {
    border: 10px solid black;
}
this is the border the the image "orbit"
*/
/* #handset2 {
    border: 5px dashed green;
}
this is the border the the image "handset"
*/
img {
    width: 75%;
    height: auto;
    border-radius: 50% !important;
}

img.danger {
    border: 1px solid red;
}
